<!DOCTYPE html>
<html lang="en">

  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Late Night Menu</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>

  <body>
    <div class="main">
        <div class="header">
            <h1>Late Night Menu</h1>
        </div>
        <div class="menu">
            {% for station in sorted(stations.keys()) %}
            <h2>{{ station }}:</h2>
            <ul>
                {% for item in stations[station] %}
                <li>{{ item["name"] }}<span class="restrictions">{{ item["restrictions"] }}</span></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>

  </body>

</html>
