<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Late Night Menu</title>

    <style>
      body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
    </style>

  </head>

  <body>

    <h1>Late Night Menu</h1>
    {% for station in sorted(stations.keys()) %}
      <h2>{{ station }}:</h2>
      <ul>
        {% for item in sorted(stations[station]) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
    <p>Last updated: {{ date_time }}</p>

  </body>

</html>